.inptCnt{
  background-color: #FFFFFF;
  border: 1px solid #E3E9EC;
  border-radius:6px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  position:relative;
}
.inptCnt input, .inptCnt select{
    outline: none;
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
    height: 100%;
    font-family: var(--fontA);
    font-size: 73%;
    opacity: 1;
    position: absolute;
    left: 0;
    border-radius: 8px;
    color: #5E7D95;
}
.inptCnt input::placeholder{  
  font-family: var(--fontA);
  color: #5E7D95;
}
.inptCnt input{
  padding-left:4px;
  width:calc(100% - 4px);
}
.inptCnt i{
  font-size: 80%;
  color:#0F73EE;
}
.inptDis i{
  color:#d9dee1;
}
.inptCnt select{
  width:100%;
}
.cell2Mid{
  width:2.5%;
}
.cell5{
  width:5%;
}
.cell7Mid{
  width: 7.5%;
}
.cell10{
  width: 10%;
}
.cell12Mid{
  width: 12.5%;
}
.cell15{
  width: 15%;
}
.cell17Mid{
  width: 17.5%;
}
.cell20{
  width: 20%;
}
.cell25 {
  width: 25%;
}
.cell30 {
  width: 30%;
}
.cell37Mid{
  width: 37.5%;
}
.cell40 {
  width: 40%;
}
.cell50 {
  width: 50%;
}
.cell80 {
  width: 80%;
}
.cell100 {
  width: 100%;
}

/*NEW STYLES*/
.headTbl{
    width:100%;
    height:auto;
    display:table;
    margin-top:30px;
}
.subheadTbl{
    width:100%;
    height:auto;
    display:table;
    margin-top:15px;
}
.titCell,.dateCell,.userCell{
    display:table-cell;
    vertical-align:middle;
    padding-left:20px;   
}
.dateCell,.userCell{
}
.cntBoxInf {
    background-color: #F8F8F8;
    border: 1px solid #EFEFEF;
    border-radius: 10px;
    width: auto;
    height: 95px;
}
.chartBoxInf{
    background-color: #F8F8F8;
    border: 1px solid #EFEFEF;
    border-radius: 10px;
    width: auto;
    height: 265px;
}
.tblBoxInf {
    display: table;
    width: calc(100% - 30px);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.cellCnt{
    display: table-cell;
    padding-left: 20px;
    vertical-align: middle;
    position: relative;
}
.boxTit{
  color:#0033A0;
  font-family:  'Lato';
  font-weight: bold;
  padding-top: 5px;
  font-size: 83%;
  height: 35px;
  display: table;
}
.boxTitCell{
  display:table-cell;
  vertical-align:middle;
}
.boxValCnt{
  width:100%;
  display:table;
  height: 35px;
}
.valCell,.chgCell{
  display:table-cell;
  vertical-align:bottom;
}
.valCell{
  font-weight:bold;
  font-size:130%;
}
.chgCell{
  text-align:right;
  font-size: 70%;
}
.greenChg{
  color:#5EB746;
}
.redChg{
  color:#FA2200;
}
.container{
  padding-bottom: 50px;
}
.chartTblCnt{
  width:100%;
  display:table;
  height:calc(100% - 60px);
  padding-top:15px;
}
.cellChart{
  display:table-cell;
  vertical-align:middle;
}

/**editReports**/
.ceroLine {
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #E9E9E9;
  z-index: 9998;
}
.boxLeyCnt{  
  position: absolute;
  font-size: 67%;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  width: 110px;
  height: auto;
  z-index: 10001;
  display:none;
  opacity:0;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:5px; 
  padding-right:5px;
}
.rowLeyTbl {
  display: table;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  padding-top:2px;
  padding-bottom:2px;
  height:15px;
  font-size:95%;
}
.leyTit{  
  text-align: left;
  padding-left: 5px;
  padding-top:5px;
  font-weight: bold;
  font-family: 'Lato';
  color: #000000;
  width:90%;
}
.rowColor,.rowNum,.rowDsc {
  display: table-cell;
  vertical-align: middle;
}
.rowColor{
  padding-left:5px;
  width:9px;
  text-align:left;
}
.rowNum{
  width:25px;
  text-align:right;
  padding-right:5px;
}
.rowBall{
  width:7px;
  height:7px;
  border-radius: 50px;
}
.listBarrasV{
  padding: 0;
  margin: 0;
  height: 115px;
  width:auto;
  display:table;
  margin-left: 0;
}
.barCell{
  display:table-cell;
  vertical-align:bottom;
  padding-right:20px;
}
.grafico-barrasV{
  position: relative;
  width: 100%;
  height: auto;
  margin-left: 0;
  margin-right: auto;
}

.barra-fondoV{
  border-radius: 0;
  background: #f8f8f8;
  width: 31px;
  margin-bottom: 15px;
  display: block;
  position: relative;
  border: 0;
  height: 135px;
  padding: 0;
}

.barrasV{
  background: #ebedf1;
  border-radius: 0;
  margin-bottom: 0;
  position: absolute;
  z-index: 9999;
  display: block;
  width:100%;
  left: 0;
  bottom: 2px;
}
.cellCnt{
  vertical-align:top;
}
.lblFootTbl{
  display:table;
  padding-left:10px;
  margin-left:0;
  margin-right:auto;
}
.lblDayCell{
  font-family: 'Lato';
  font-weight: 400;
  width: 100%;
  color: rgb(0 0 0 / 65%);
  text-align: center;
  font-size: 62%;
  display: table;
  margin-left:  auto;
  margin-right:  auto;
}
.lblPromCell{
  position:absolute;
  display: table-cell;
  vertical-align: middle;
  font-family: Roboto;
  font-weight: bold;
  color: #1A3867;
  /* padding-right: 10px; */
  text-align: left;
  font-size: 75%;
}
.lblYCnt{
  border-radius: 0;
  background: #f8f8f8;
  min-width: 15px;
  margin-bottom: 15px;
  display: block;
  position: relative;
  border: 0;
  height: 135px;
  padding: 0;
  text-align:  right;
}
.lblSect{
  background: #f8f8f8;
  border-radius: 0;
  /*margin-bottom: -7.5px;*/
  position: absolute;
  z-index: 9999;
  display: block;
  text-align:  right;  
  font-size:62%;
  height:15px;
  line-height:15px;
  color:  rgb(0 0 0 / 65%);
  font-family:  'Lato';
  font-weight:400;
  right: 0;
}